/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,600');
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}